django
pynetbox
proxmoxer
netaddr
psycopg2
python-freeipa
towerlib
django_rq
pyyaml
paramiko
scp
django-auth-ldap
djangorestframework
markdown
django-cors-headers
djangorestframework-simplejwt
cerberus
shortuuid
django-extensions
