{% extends 'home/base.html' %}
{% load widget_tweaks %}
{% block title %}VMs{% endblock %}
{% block content %}
<a class="btn btn-primary" href="/vms/new"> New </a> <br> <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Environment</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for vm in vms %}
    <tr>
      <th><a href="/vms/{{vm.pk}}"> {{ vm.pk }} </a></th>
      <td> {{ vm.name }} </td>
      <td> {{ vm.environment.name }} </td>
      <td>
      {% if vm.status in 'provisioned'  %}
      <span class="badge badge-success">Provisioned</span>
      {% elif vm.status in 'provisioning'  %}
      <span class="badge badge-warning">Provisioning</span>
      {% elif vm.status in 'destroying'  %}
      <span class="badge badge-warning">Destroying</span>
      {% elif vm.status in 'error'  %}
      <span class="badge badge-danger">Error</span>
      {% else %}
      <span class="badge badge-info">{{ vm.status }}</span>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
