{% extends 'home/base.html' %}
{% block title %}{{vm.name}}{% endblock %}

{% load widget_tweaks %}

{% block content %}
{% if 'proxmox' in vm.state and 'vm_status' in vm.state.proxmox %}
<a href="/vms/{{vm.pk}}/reboot"> <i class="fas fa-recycle"></i> Force Reboot VM </a> <br />
{% endif %}
<a href="/vms/{{vm.pk}}/delete"> <i class="fas fa-dumpster-fire"></i> Destroy VM</a><br/><br />

<table class="table">
  <tbody>
    <tr>
      <th scope="row">FQDN</th>
      <td>{{vm.fqdn}}</td>
    </tr>
    <tr>
      <th scope="row">Environment</th>
      <td>{{vm.environment.name}}</td>
    </tr>
    <tr>
      <th scope="row">Network</th>
      <td>{{vm.network.name}} ({{vm.network.vid}})</td>
    </tr>
    <tr>
      <th scope="row">IPv4</th>
      <td>{{vm.config.net.ipv4.ip}}/{{vm.config.net.ipv4.prefixlen}}</td>
    </tr>
    <tr>
      <th scope="row">IPv6</th>
      <td>{{vm.config.net.ipv6.ip}}/{{vm.config.net.ipv6.prefixlen}}</td>
    </tr>
    <tr>
    {% if 'proxmox' in vm.state and 'vm_status' in vm.state.proxmox %}
      <tr>
        <th scope="row">VM Status</th>
        <td>
          {% if vm.state.proxmox.vm_status == 'running'%}
          <i class="fas fa-running"></i>
          {{vm.state.proxmox.vm_status.capitalize}}
          {% elif vm.state.proxmox.vm_status == 'stopped'%}
          <i class="fas fa-stop-circle"></i>
          {{vm.state.proxmox.vm_status.capitalize}}
          {% else%}
          {{vm.state.proxmox.vm_status.capitalize}}
          {% endif%}
        </td>
      </tr>
      <tr>
    {% endif %}
      <th scope="row">Created</th>
      <td>{{vm.created}}</td>
    </tr>
    <tr>
      <th scope="row">Last Updated</th>
      <td>{{vm.updated}}</td>
    </tr>
  </tbody>
</table>

<h4>State</h4>
<div class="list-group list-group-flush" id="state">
  {% for state_name, state in vm.state.items %}
  {% if state_name != "awx_templates" %}

  <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#{{ state_name }}" role="button" aria-expanded="false" aria-controls="{{ state_name }}">
    <h5 class="mb-1">{{ state_name.capitalize }}
      {% if 'status' not in state  %}
      <span class="badge badge-secondary">Unknown (Status missing)</span>
      {% elif state.status in 'provisioned'  %}
      <span class="badge badge-success">Provisioned</span>
      {% elif state.status in 'provisioning'  %}
      <span class="badge badge-warning">Provisioning</span>
      {% elif state.status in 'destroying'  %}
      <span class="badge badge-warning">Destroying</span>
      {% elif state.status in 'error'  %}
      <span class="badge badge-danger">Error</span>
      {% else %}
      <span class="badge badge-info">Unknown ({{ state.status }})</span>
      {% endif %}
    </h5>
  </a>
  <div id="{{ state_name }}" class="collapse" aria-labelledby="{{ state_name }}" data-parent="#state">
    <div class="card-body">
      {% with "vms/state/_"|add:state_name|add:".html" as template %}
      {% include template %}
      {% endwith %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% if "awx_templates" in vm.config %}
<br />
<h4>AWX Templates</h4>
<div class="list-group list-group-flush" id="awx_templates">
  {% for template_name, template in vm.config.awx_templates.items %}
  {% with template_state=vm.state.awx_templates|get_item:template_name %}
  <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#{{ template_name }}" role="button" aria-expanded="false" aria-controls="{{ template_name }}">
    <h5 class="mb-1">{{ template.name }}
      {% if "awx_templates" in vm.state and template_name in vm.state.awx_templates and 'status' not in template_state  %}
      <span class="badge badge-secondary">No runs yet</span>
      {% elif template_state.status in 'provisioned,successful'  %}
      <span class="badge badge-success">Provisioned</span>
      {% elif template_state.status in 'provisioning,pending,running'  %}
      <span class="badge badge-warning">Provisioning</span>
      {% elif template_state.status in 'missing_dependency'  %}
      <span class="badge badge-info">Missing Dependency</span>
      {% elif template_state.status in 'error,failed'  %}
      <span class="badge badge-danger">Error</span>
      {% else %}
      <span class="badge badge-info">Unknown ({{ template_state.status }})</span>
      {% endif %}
    </h5>
  </a>
  <div id="{{ template_name }}" class="collapse" aria-labelledby="{{ template_name }}" data-parent="#awx_templates">
    <div class="card-body">
      {% if "awx_templates" in vm.state and template_name in vm.state.awx_templates %}
      {{ vm.state.awx_templates|get_item:template_name }}
      {% else %}
      Last run: Never <br>
      {% endif %}
      {{template}}
      {% if template_state.status in 'provisioned,successful' %}
      </br>
      <a class="btn btn-success" href="/vms/{{vm.pk}}/template/{{template_name}}/run">Run template</a>
      {% endif %}
    </div>
  </div>
  {% endwith %}
  {% endfor %}
</div>
{% endif %}

<br />
<div id="config">
  <a class="btn btn-primary" data-toggle="collapse" href="#raw_config" role="button" aria-expanded="false" aria-controls="raw_config"> Raw config </a>
  <div id="raw_config" class="collapse" aria-labelledby="raw_config" data-parent="#config">
    <div class="card">
      <div class="card-body"> {{ vm.config }} </div>
    </div>
  </div>
</div>

{% endblock %}
